In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Loan_Training/Training Data.csv")

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Loan_Testing/Testing Data.csv")

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
x_train=df.drop(['Loan_Status'],axis=1)

In [ ]:
y_train=df.Loan_Status

In [ ]:
y_train

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [ ]:
#handling missing data
from sklearn.impute import SimpleImputer
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')

In [ ]:
numeric_columns=list(np.where((x_train.dtypes==np.int64) | (x_train.dtypes==np.float64))[0])

In [ ]:
credit_score=numeric_columns[4:5]

In [ ]:
credit_score

[10]

In [ ]:
numeric_columns=numeric_columns[:4]

In [ ]:
numeric_columns

[6, 7, 8, 9]

In [ ]:
x_train.iloc[:,numeric_columns]

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

[614 rows x 4 columns]

In [ ]:
imp_mean.fit(x_train.iloc[:,numeric_columns])

SimpleImputer()

In [ ]:
x_train.iloc[:,numeric_columns]=imp_mean.transform(x_train.iloc[:,numeric_columns])

In [ ]:
string_columns=list(np.where((x_train.dtypes==np.object))[0])

<ipython-input-148-34a8ed22c457>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  string_columns=list(np.where((x_train.dtypes==np.object))[0])

In [ ]:
numeric_columns

[6, 7, 8, 9]

In [ ]:
numeric_columns=numeric_columns[:4]

In [ ]:
numeric_columns

[6, 7, 8, 9]

In [ ]:
string_columns

[0, 1, 2, 3, 4, 5, 11]

In [ ]:
imp_mean=SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [ ]:
imp_mean.fit(x_train.iloc[:,string_columns])

SimpleImputer(strategy='most_frequent')

In [ ]:
x_train.iloc[:,string_columns]=imp_mean.transform(x_train.iloc[:,string_columns])

In [ ]:
imp_mean.fit(x_train.iloc[:,credit_score])

SimpleImputer(strategy='most_frequent')

In [ ]:
x_train.iloc[:,credit_score]=imp_mean.transform(x_train.iloc[:,credit_score])

In [ ]:
x_train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [ ]:
#missing data handled

In [ ]:
y_train.isnull().sum()

0

In [ ]:
 #encoding the data

In [ ]:
def labelencodermethod(series):
    from sklearn import preprocessing
    le=preprocessing.LabelEncoder()
    le.fit(series)
    return le.transform(series)

In [ ]:
y_train=labelencodermethod(y_train)

In [ ]:
y_train

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [ ]:
x_train=x_train.drop("Loan_ID",axis=1)

In [ ]:
col_0=x_train.columns[0]

In [ ]:
x_train[col_0]=labelencodermethod(x_train[col_0])

In [ ]:
col_1=x_train.columns[1]

In [ ]:
x_train[col_1]=labelencodermethod(x_train[col_1])

In [ ]:
col_2=x_train.columns[2]

In [ ]:
x_train[col_2]=labelencodermethod(x_train[col_2])

In [ ]:
col_3=x_train.columns[3]

In [ ]:
x_train[col_3]=labelencodermethod(x_train[col_3])

In [ ]:
col_4=x_train.columns[4]

In [ ]:
x_train[col_4]=labelencodermethod(x_train[col_4])

In [ ]:
col_10 = x_train.columns[10]
x_train[col_10]=labelencodermethod(x_train[col_10])

In [ ]:
x_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849.0,0.0,146.412162,360.0,1,2
1,1,1,1,0,0,4583.0,1508.0,128.000000,360.0,1,0
2,1,1,0,0,1,3000.0,0.0,66.000000,360.0,1,2
3,1,1,0,1,0,2583.0,2358.0,120.000000,360.0,1,2
4,1,0,0,0,0,6000.0,0.0,141.000000,360.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900.0,0.0,71.000000,360.0,1,0
610,1,1,3,0,0,4106.0,0.0,40.000000,180.0,1,0
611,1,1,1,0,0,8072.0,240.0,253.000000,360.0,1,2
612,1,1,2,0,0,7583.0,0.0,187.000000,360.0,1,2
613,0,0,0,0,1,4583.0,0.0,133.000000,360.0,0,1

In [ ]:
y_train

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [ ]:
from sklearn.model_selection import train_test_split
x_train1,x_test1,y_train1,y_test1=train_test_split(x_train,y_train,test_size=0.3,random_state=2)

In [ ]:
x_test=df.iloc[:,:]

In [ ]:
x_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:

numeric_columns

[6, 7, 8, 9]

In [ ]:
credit_score

[10]

In [ ]:
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')

In [ ]:
imp_mean.fit(x_test.iloc[:,numeric_columns])
#x_test.iloc[:,numeric_columns]=imp_mean.transform(x_test.iloc[:,numeric_columns])

SimpleImputer()

In [ ]:
x_test.iloc[:,numeric_columns]=imp_mean.transform(x_test.iloc[:,numeric_columns])

In [ ]:
imp_mean=SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [ ]:
imp_mean.fit(x_test.iloc[:,string_columns])

SimpleImputer(strategy='most_frequent')

In [ ]:
x_test.iloc[:,string_columns]=imp_mean.transform(x_test.iloc[:,string_columns])

In [ ]:
imp_mean.fit(x_test.iloc[:,credit_score])

SimpleImputer(strategy='most_frequent')

In [ ]:
x_test.iloc[:,credit_score]=imp_mean.transform(x_test.iloc[:,credit_score])

In [ ]:
x_test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
x_test=x_test.drop("Loan_ID",axis=1)

In [ ]:


col_0=x_test.columns[0]
x_test[col_0]=labelencodermethod(x_test[col_0])
col_1=x_test.columns[1]
x_test[col_1]=labelencodermethod(x_test[col_1])
col_2=x_test.columns[2]
x_test[col_2]=labelencodermethod(x_test[col_2])
col_3=x_test.columns[3]
x_test[col_3]=labelencodermethod(x_test[col_3])
col_4=x_test.columns[4]
x_test[col_4]=labelencodermethod(x_test[col_4])

In [ ]:
col_10=x_test.columns[10]
x_test[col_10]=labelencodermethod(x_test[col_10])

In [ ]:
x_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849.0,0.0,146.412162,360.0,1.0,2,Y
1,1,1,1,0,0,4583.0,1508.0,128.000000,360.0,1.0,0,N
2,1,1,0,0,1,3000.0,0.0,66.000000,360.0,1.0,2,Y
3,1,1,0,1,0,2583.0,2358.0,120.000000,360.0,1.0,2,Y
4,1,0,0,0,0,6000.0,0.0,141.000000,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900.0,0.0,71.000000,360.0,1.0,0,Y
610,1,1,3,0,0,4106.0,0.0,40.000000,180.0,1.0,0,Y
611,1,1,1,0,0,8072.0,240.0,253.000000,360.0,1.0,2,Y
612,1,1,2,0,0,7583.0,0.0,187.000000,360.0,1.0,2,Y
613,0,0,0,0,1,4583.0,0.0,133.000000,360.0,0.0,1,N

In [ ]:
x_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849.0,0.0,146.412162,360.0,1,Urban
1,1,1,1,0,0,4583.0,1508.0,128.000000,360.0,1,Rural
2,1,1,0,0,1,3000.0,0.0,66.000000,360.0,1,Urban
3,1,1,0,1,0,2583.0,2358.0,120.000000,360.0,1,Urban
4,1,0,0,0,0,6000.0,0.0,141.000000,360.0,1,Urban

In [ ]:
y_train

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [ ]:
#linear regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
y_pred

In [ ]:
#linear regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
model=LinearRegression()
model.fit(x_train1,y_train1)
y_pred=model.predict(x_test1)
r2_score(y_test1,y_pred)

In [ ]:
#Polynomial_Regression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
model=LinearRegression()
poly=PolynomialFeatures(degree=2)
x_train_poly=poly.fit_transform(x_train)
model.fit(x_train_poly,y_train)
x_test_poly=poly.fit_transform(x_test)
y_pred=model.predict(x_test_poly)

In [ ]:
y_pred

In [ ]:
#Polynomial_Regression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
model=LinearRegression()
poly=PolynomialFeatures(degree=2)
x_train1_poly=poly.fit_transform(x_train1)
model.fit(x_train1_poly,y_train1)
x_test1_poly=poly.fit_transform(x_test1)
y_pred=model.predict(x_test1_poly)
r2_score(y_test1,y_pred)

In [ ]:
#decision_tree
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(max_depth=4)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
y_pred

In [ ]:
#decision_tree
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(max_depth=4)
model.fit(x_train1,y_train1)
y_pred=model.predict(x_test1)
r2_score(y_test1,y_pred)

In [ ]:
#Random_Forest
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=25,random_state=10)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
y_pred

In [ ]:
#Random_Forest
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=25,random_state=10)
model.fit(x_train1,y_train1)
y_pred=model.predict(x_test1)
r2_score(y_test1,y_pred)

In [ ]:
#AdaBoost
from sklearn.ensemble  import AdaBoostRegressor
model=AdaBoostRegressor(random_state=0,n_estimators=100)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
y_pred

In [ ]:
#AdaBoost
from sklearn.ensemble  import AdaBoostRegressor
model=AdaBoostRegressor(random_state=0,n_estimators=100)
model.fit(x_train1,y_train1)
y_pred=model.predict(x_test1)
r2_score(y_test1,y_pred)

In [ ]:
 
pip install xgboost

In [ ]:
#XGBOOST
import xgboost as xgb
model=xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3,
    learning_rate=0.05   
)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
y_pred

In [ ]:
#XGBOOST
import xgboost as xgb
model=xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3,
    learning_rate=0.05   
)
model.fit(x_train1,y_train1)
y_pred=model.predict(x_test1)
r2_score(y_test1,y_pred)

In [ ]:
#SUPPORT_VECTOR_MACHINE
from sklearn.svm import SVR
model=SVR()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
y_pred

In [ ]:
#SUPPORT_VECTOR_MACHINE
from sklearn.svm import SVR
model=SVR()
model.fit(x_train1,y_train1)
y_pred=model.predict(x_test1)
r2_score(y_test1,y_pred)

In [ ]:
from sklearn import preprocessing
from sklearn.feature_selection import SelectKBest, chi2

In [ ]:
sc=preprocessing.StandardScaler(with_mean=False)
sc.fit(x_train1)
x_train1=sc.transform(x_train1)
sc.fit(x_test1)
x_test1=sc.transform(x_test1)

In [ ]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
knnClassifier=KNeighborsClassifier(n_neighbors=8)
knnClassifier.fit(x_train,y_train)
y_pred=knnClassifier.predict(x_test)

In [ ]:
y_pred

In [ ]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
knnClassifier=KNeighborsClassifier(n_neighbors=8)
knnClassifier.fit(x_train1,y_train1)
y_pred=knnClassifier.predict(x_test1)
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test1)

In [ ]:
#this dataset has been evaluated using different type of regressions and classification techniques,
#thus if we are provided with y_test we can find the r2 score of the model which can be used to find,
#put the accuracy of the model.

In [ ]:
#LogicticReression
from sklearn.linear_model import LogisticRegression
LRM=LogisticRegression(random_state=1,max_iter=500)
LRM.fit(x_train,y_train)
y_pred=LRM.predict(x_test)

In [ ]:
y_pred

In [ ]:
#LogicticReression
from sklearn.linear_model import LogisticRegression
LRM=LogisticRegression(random_state=1,max_iter=500)
LRM.fit(x_train1,y_train1)
y_pred=LRM.predict(x_test1)
accuracy_score(y_pred,y_test1)

In [ ]:
male=data[data['Gender']=='Male'].shape[0]

In [ ]:
#as we have 489 rows we know there are 489 males

In [ ]:

female=data[data['Gender']=='Female'].shape[0]

In [ ]:
#as we have 112 rows we know there are 112 females

In [ ]:
#1
ratio=female/male
print(ratio)

In [ ]:
#2
married_males=len(data.loc[((data['Married'] == 'Yes') & (data['Gender'] == 'Male'))])
print("Married males are:")
print(married_males)
unmarried_males=len(data.loc[((data['Married'] == 'No') & (data['Gender'] == 'Male'))])
print("UnMarried males are:")
print(unmarried_males)

In [ ]:
#3
married_females=len(data.loc[((data['Married'] == 'Yes') & (data['Gender'] == 'Female'))])
print("Married Females are:")
print(married_females)
unmarried_females=len(data.loc[((data['Married'] == 'No') & (data['Gender'] == 'Female'))])
print("Unmarried Females are:")
print(unmarried_females)

In [ ]:
#4.
graduated_married_females=len(data.loc[((data['Married'] == 'Yes') & (data['Gender'] == 'Female') & (data['Education'] == 'Graduate'))])
print("graduated_married_females are :")
print(graduated_married_females)
graduated_unmarried_females=len(data.loc[((data['Married'] == 'No') & (data['Gender'] == 'Female') & (data['Education'] == 'Graduate'))])
print("graduated_unmarried_females are :")
print(graduated_unmarried_females)
nongraduated_married_females=len(data.loc[((data['Married'] == 'Yes') & (data['Gender'] == 'Female') & (data['Education'] == 'Not Graduate'))])
print("non_graduated_married_females are :")
print(nongraduated_married_females)
nongraduated_unmarried_females=len(data.loc[((data['Married'] == 'No') & (data['Gender'] == 'Female') & (data['Education'] == 'Not Graduate'))])
print("non_graduated_unmarried_females are :")
print(nongraduated_unmarried_females)

In [ ]:
#5.Education column is encoded here with label encoding.Since there are 4 different values in "encoded" column so
#if we use one hot encoding then there might be issues with training the data as the columns increases.

In [ ]:
#8.We will be considering all the necessary columns for the data training.The data columns that are used in the prediction of 
#the predicted value of the data class will be used that are relevant in making decision on the basis of the target class.
#Here in this dataset,every attribute will be taken into consideration for the prediction except for "Loan_ID" as "Loan_ID" 
#has no importance in the prediction if the loan will be granted to the customer or not.

In [ ]:
#9
#Here I have prepared the model using KNN(K-Nearest Neighbour)
#I have chosen I KNN model because KNN is a classification technique to predict values of the target class.
#Since this was a prediction where the predicted value would vary between '0' and '1' or 'Yes' and 'No'.Classification
#technique would have been suited best for this model and I have tried between KNN and Logistic Regression and out of the 2 
#models KNN gives a better accuracy score.
#I have displayed all the regression techniques and it is found out that regression techniques show very low valued r2_scores.
#Thus KNN is selected

In [ ]:
#10.No,I havent hyper paramiterizied the data

In [ ]:
#11.
#KNN
from sklearn.neighbors import KNeighborsClassifier
knnClassifier=KNeighborsClassifier(n_neighbors=8)
knnClassifier.fit(x_train1,y_train1)
y_pred=knnClassifier.predict(x_test1)
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test1)

In [ ]:
#12
print("The accuracy of KNN classification is :")
print(accuracy_score(y_pred,y_test1))

In [ ]:
#13
#For a better model accuracy we can try more methods used for data cleaning,removing outliers.In this model the model is 
#encoded using label encoding,we can also try ONE-HOT ENCODING to see if it provides better results.
#We can manually change the attributes for each training techniques or use hyper paramitezation.

In [ ]:
#14
#We can conclude that every column of the data might be necessary for the prediction of the data,but also it is not mandatory
#for every column to be included for the calculation.We can hereby note that every column for should be looked for missing data
#missing data should be taken care of,outliers should be looked after as welll and data should be encoded using proper 
#encoding techniques